* {
    box-sizing: border-box;
  }



   
body {
    margin: 0;
    padding: 0;
  
  
}

h1,h2,h3,h4,h5 , label {
    font-family: 'Roboto', sans-serif;
}

p  {
    font-family: 'Raleway', sans-serif;
}





.nav-logo {
    margin-left: 20px;
}

.nav-item3 {
    margin-left: 100px;
}



.hero_background {
    background: url("/images/contact-page-hero.png"); 
    height: 728px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(8, 6, 6, 0.3);
    
   
}

.hero-des {
    position: absolute;
    left: 50px;
}

.contact-us_bg {
    background-color: #156595;
    width: 100%;
    height: 130px;
}

.contact-form h4 {
    color: #FFFFF9;
}

.contact-form p {
    color: #FFFFF9;
}

.contact-form_bg {
    background: url("/images/contact\ form\ bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    margin-top: 0;
 
}

.form-field {
    background-color: #FFFFF9;
    padding: 30px;
    height: 600px;
    width: 80%;
    align-items: center;
    margin: auto;
    border-radius: 20px;
 
}
.button-form {
    background-color: #156595;
    padding: 10px 60px 10px 60px;
}

.Office-locations h3{
    color: #156595;
    font-size: 40px;

}

@media screen and (max-width:425px){
    .hero-des {
    left: 20px;
    }
}

@media screen and (max-width:375px){
    .hero-des {
    top: 200px;
    left: 20px;
    }
}

   @media screen and (max-width:320px){
    iframe {
      width: 300px;
    }
} 

@media screen and (max-width:982px){
    iframe {
      width: 300px;
    }
} 


@media screen and (max-width:764px){
    .contact-form_bg {
      height: 1100px;
    }
}

@media screen and (max-width:764px){
    .form-field {
      height: 900px;
    }
}

@media screen and (max-width:320px){
    .button-form {
        padding: 10px 30px 10px 30px;
    }
}



@media screen and (max-width: 1024px) and (min-width: 765px) {
    .footer-menu {
      text-align: center;

    } 
    .footer-bg {
        height: 490px;
    }
}

@media screen and (max-width: 764px) {
    .footer-menu {
      text-align: center;

    } 
    .footer-bg {
        height: 950px;
    }
}



@media screen and (max-width: 786px) {
    .email_footer {
     font-size: 14px;
}
    .footer-img{
        width: 150px;
    }
}

@media screen and (max-width: 320px) {
    .about-us_content {
        height: 600px;
}
}

.nav-color {
    background-color: #156595;
}

.footer-menu a {
    text-decoration: none;
    color: #FFFFF9;
}  

@media screen and (max-width: 1024px) and (min-width: 765px) {
    .footer-menu {
      text-align: center;

    } 
    .footer-bg {
        height: 490px;
    }
}

@media screen and (max-width: 768px) {
    .footer-bg {
        height: 580px;
    }

}
@media screen and (max-width: 764px) {
    .footer-menu {
      text-align: center;

    } 
    .footer-bg {
        height: 950px;
    }
}



@media screen and (max-width: 786px) {
    .email_footer {
     font-size: 14px;
}
    .footer-img{
        width: 150px;
    }
}



@media screen and (max-width: 425px) and (min-width:375px) {
    .footer-bg {
        height: 920px;
    }
    .footer_p {
        font-size: 15px;
    }

}

@media screen and (max-width: 320px) {
    .footer-bg {
        height: 920px;
    }
}


