.Open-tickets {
    background-color: bisque;
    position: relative;
    width: 238px;
    height: 150px;
    border-radius: 20px;
}

.Open-tickets h5{
    display: inline-block;
}
.Open-tickets i{
    display: inline-block;
}

.Open-tickets a{
    text-decoration: none;
    color: black;
}

.Resolved-tickets {
    background-color: rgb(184, 240, 191);
    position: relative;
    width: 238px;
    height: 150px;
    border-radius: 20px;
}

.Resolved-tickets h5{
    display: inline-block;
}
.Resolved-tickets i{
    display: inline-block;
}

.Resolved-tickets a{
    text-decoration: none;
    color: black;
}

.Closed-tickets {
    background-color: rgb(227, 145, 120);
    position: relative;
    width: 238px;
    height: 150px;
    border-radius: 20px;
}

.Closed-tickets h5{
    display: inline-block;
}
.Closed-tickets i{
    display: inline-block;
}

.Closed-tickets a{
    text-decoration: none;
    color: black;
}